
@import url("https://p.typekit.net/p.css?s=1&k=dna5uwj&ht=tk&f=173.175.25136.39543&a=95268001&app=typekit&e=css");

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/23e139/00000000000000007735e605/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/23e139/00000000000000007735e605/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/23e139/00000000000000007735e605/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"neue-kabel";
src:url("https://use.typekit.net/af/7619b7/00000000000000007735bb22/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/7619b7/00000000000000007735bb22/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/7619b7/00000000000000007735bb22/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

body {
  background: #1C2022;
  color: #D9D9D9;
  overflow-x: hidden;
  overflow-y: scroll;
}
header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #242829;
}
header .max-width {
  padding: 0.938rem 2rem;
}
.max-width {
  max-width: 1240px;
  width: 100%;
}
main {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}
.animation-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
h2 {
  color: #FFF;
  font-size: 3.9375rem;
  line-height: 4.8125rem;
  margin: 0 0 2.063rem 0;
  max-width: 75%;
  width: 100%;
  font-family: "neue-kabel";
  font-weight: 400;
  font-style: normal;
}
a {
  color: white;
}
p {
  color: #D9D9D9;
  font-family: "proxima-nova", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3125rem; /* 131.25% */
  letter-spacing: 0.06rem;
  max-width: 31rem;
}
.tagline, .cta {
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
.tagline {
  margin: 0;
}
.cta {
  border: 2px solid #ff7535;
  border-radius: 4px;
  padding: 1rem 2rem;
  width: auto;
  display: inline-block;
}
.main-content {
  position: relative;
  padding-top: 5rem;
}
.copy {
  border-left: 1px solid #6B6B6B;
  padding-left: 2.5rem;
}
.copy p {
  background: rgb(28 32 34 / 75%);
}
.bg-image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  max-width: 38.75rem;
  padding: 0 1rem;
}
@media screen and (max-width: 1000px) {
  .bg-image {
    opacity: .7;
  }
  h2 {
    max-width: 90%;
    background: rgb(28 32 34 / 67%);
  }
}
@media screen and (max-width: 480px) {
  main {
    padding: 0;
  }
  .bg-image {
    opacity: 1;
    max-width: 100%;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 2.8125rem;
    max-width: 100%;
  }
  .copy {
    padding-left: 0;
    border-left: 0;
  }
  .copy p:first-child{
    border-left: 1px solid #6B6B6B;
    padding-left: 1.313rem;
  }
  .cta {
    font-size: .9rem;
  }
  .main-content {
    position: relative;
    padding-top: 1rem;
  }
}